@model IEnumerable<CadastroTabelasRelacionadas.Entidades.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">Pesquisar Usuários</div>
    <div class="card-body">
        <form action="/UsuariosControlle/Index" method="get">
            <div class="row">
                <div class="col-2">
                    <a href="/UsuariosControlle/Create" class="btn btn-success">
                        Novo Usuário
                    </a>
                </div>
                <div class="col-2">
                    <select name="tipoPesquisa" class="form-control">
                        <option value="Todos">Todos</option>
                        <option value="PorNome">Por nome</option>
                        <option value="PorLogin">Por login</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" name="query" , class="form-control" placeholder="Digite sua busca" />
                </div>
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    <a href="/Usuarios/ListaPermissoes/@item.Id">Permissões dos Usuários</a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>                     
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
